<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="MySqlConnectionString" connectionString="Server=localhost;Database=senac_pizzaria_db;Uid=root;Pwd=;SSL Mode=None;Connect Timeout=30;"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>